.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: 100px;
  align-self: center;
  border-radius: 20px;
  background-color: var(--project-card-bg);
  /* No background color in dark mode */
}

a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Media Queries */
@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}

/* Dark Mode Styles */
[data-theme='dark'] img {
  background-color: transparent; /* Remove background color for dark mode */
}
