.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%; /* Ensure container takes full width */
  max-width: 1200px; /* Optional: limit max width for large screens */
  margin: 0 auto; /* Center container horizontally */
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea,
input:not([type='submit']) {
  height: 50px;
  padding: 10px;
  width: calc(80% - 20px); /* Full width minus padding or margin */
  max-width: calc(80% - 20px); /* Limit width for larger screens */
  box-sizing: border-box;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border-radius: 20px;
  border: #888 1px solid;
  background-color: var(--background-color);
  color: var(--form-text-color);
}

::placeholder {
  color: transparent; /* Hide placeholder text */
}

input[type='submit'] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
}

input[type='submit']:hover {
  transform: scale(1.05);
}

input[type='submit']:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  textarea,
  input:not([type='submit']) {
    width: calc(80% - 20px); /* 80% of the container width minus padding or margin */
  }
}

@media (min-width: 1400px) {
  textarea,
  input:not([type='submit']) {
    width: calc(60% - 20px); /* 60% of the container width minus padding or margin */
  }
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  padding-left: 16px; 
}

/* Style for span inside input and textarea */
.formGroup span {
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%); 
  pointer-events: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em; /* Increased font size */
  color: var(--text-color);
  text-transform: uppercase;
  transition: 0.5s;
  padding: 0 5px;
}

/* Float label effect when input/textarea is focused or contains text */
.formGroup input:focus ~ span,
.formGroup input:not(:placeholder-shown) ~ span,
.formGroup textarea:focus ~ span,
.formGroup textarea:not(:placeholder-shown) ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-40px);
  font-size: 1.15em;
  padding: 0 15px;
  background-color: var(--background-color);
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

/* Specific style for span inside textarea */
.formGroup textarea + span {
  top: 10%;
}
